<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add profile</title>
  </head>
  <body>
    <div>
      <form action="">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" /><br /><br />
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" /><br /><br />
        <label for=""></label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="file" id="myFile" name="filename" />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
fef
